<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set scale by choosing 1 of 'Hamlet' (10), 'Village' (1,000), or 'Town' (10,000) -->
    <add key="Database" value="Village"/>

    <!-- Test with a PI Point attribute ('power') or formula attribute ('power per resident') -->
    <add key="AttributeTemplate" value="power"/>

    <!-- Choose the security model -->
    <!-- Exercise 1: CurrentUser -->
    <!-- Exercise 6: Impersonation -->
    <!-- Exercise 7: Manual -->
    <add key="SecurityMethod" value="CurrentUser"/>

    <!-- Select which data access exercises should be run -->
    <add key="RunExercise2" value="false"/> <!-- Read Data -->
    <add key="RunExercise3" value="false"/> <!-- Summary Data -->
    <add key="RunExercise4" value="false"/> <!-- Data Pipe -->
    <add key="RunExercise5" value="false"/> <!-- Write Data -->
  </appSettings>
</configuration>